@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .font-display {
    font-family: 'Sora', sans-serif;
  }
}
